@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

* {
    font-family: "PP Neue Montreal", sans-serif;
}

:root {
    --color-white: #f3f3f1;
    --color-light-gray: #f0f0f0;
    --color-dark-gray: #524e49;
    --color-gray: #a19d9a;
    --color-black: #080807;
    --color-blue: #1722f5;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 104px;
}

body {
    background-color: var(--color-light-gray);
    color: var(--color-black);
}

section {
    padding-block: 104px;
}