@font-face {
    font-family: "PPNeueMontreal";
    src: url("/fonts/PPNeueMontreal-Regular.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "PPNeueMontreal", sans-serif;
    font-weight: 450;
}

:root {
    --color-white: #f3f3f1;
    --color-light-gray: #f0f0f0;
    --color-dark-gray: #524e49;
    --color-gray: #a19d9a;
    --color-black: #080807;
    --color-blue: #1722f5;

    --section-gap: 104px;
    --content-padding: 32px;
}

html {
    scroll-padding-top: 104px;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
}

main > :first-child {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
}

footer, section {
    padding: var(--content-padding);
}

section:first-child {
    padding-top: calc(var(--content-padding) + 104px);
}

h1 {
    font-size: clamp(64px, 22vw, 360px);
    letter-spacing: -0.025em;
    line-height: 1;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    :root {
        --section-gap: 64px;
        --content-padding: 16px;
    }
}