@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

* {
    font-family: "PP Neue Montreal", sans-serif;
    font-weight: normal;
}

:root {
    --color-white: #f3f3f1;
    --color-light-gray: #f0f0f0;
    --color-dark-gray: #524e49;
    --color-gray: #a19d9a;
    --color-black: #080807;
    --color-blue: #1722f5;

    --section-gap: 104px;
}

html {
    scroll-padding-top: 104px;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
}

main > :first-child {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
}

footer, section {
    padding: 32px;
}

section:first-child {
    padding-top: 136px;
}

h1 {
    font-size: clamp(64px, 20vw, 360px);
    letter-spacing: -0.025em;
    line-height: 1;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    :root {
        --section-gap: 64px;
    }
}